{% extends "base.twig" %}

{% block content %}
	<div class="page-mod">
		{% for post in posts %}
			{% include ['tease-'~post.post_type~'.twig', 'tease-blog.twig'] %}
		{% endfor %}

		{% include "components/pagination.twig" %}
	</div><!-- /page-mod -->
{% endblock %}