{% extends "base.twig" %}

{% block content %}
	<div class="page-mod">
		<div class="post-feed-mod">
			{% for post in posts %}
				{% include ['tease-'~post.post_type~'.twig', 'tease-blog.twig'] %}
			{% endfor %}

			{% include "components/pagination.twig" %}
		</div><!-- /post-feed-mod -->	
	</div><!-- /page-mod -->
{% endblock %}