<article class="blog-post-tz card-effect">						
	<div class="post-date">7.12.13</div>
	<!-- <div class="post-date-mod"></div> -->
	<h5 class="tz-h1">We're stoked on our new site!</h5>
	<p class="tz-txt">For every $20 in a personal donation to the PMC for our team, we will put a ticket in our official “Raffle Bowl” with the donor’s name. Each day during the month of July, we will randomly draw a ticket. The day the ticket is pulled determines the prize that is won. We will contact the lucky person and make sure the prize gets to you!</p>
</article><!-- /blog-post -->