{% include "sponsors.twig" %}

<footer id="footer">
	<div class="page-mod">
		<div class="ftr-mod">
			<div class="ftr-logo-mod ui-block-1">
				<h5 class="ftr-h1">Bikes Fight Cancer</h5>
				{{ footer.footer.post_content }}
			</div><!-- /ftr-logo-mod -->	
			<div class="mailing-list-mod ui-block-2">
				<div class="input">
					<label for="mailing-list" class="email-h1">E-mail List</label>
					<input type="email" value="" name="email" class="required email" id="mailing-list">
					<input type="submit" value="Submit" name="subscribe" id="mailing-list-subscribe" class="button btn">
				</div><!-- /input -->	
			</div><!-- /mailing-list-mod -->
		</div><!-- /ftr-mod -->	
	</div><!-- /page-mod -->
	<div class="site-credit">
		<a href="http://www.upstatement.com" target="_blank">Site by Upstatement</a>
	</div><!-- /site-credit -->	
</footer>
