{% include "sponsors.twig" %}

<footer id="footer">
	<div class="page-mod">
		<img class="ftr-logo" src="/wp-content/themes/spokes/images/ftr-logo.png"/>
		<ul class="contact-ul">
			<li class="contact-li-item">We’d love to hear from you!</li>
			<li class="contact-li-item">413-813-9215</li>			
			<li class="contact-li-item">team@bikesfightcancer.org</li>
		</ul>		
	</div><!-- /page-mod -->
</footer>