{% include "sponsors.twig" %}

<footer id="footer">
	<div class="page-mod">
		<img class="ftr-logo" src="/wp-content/themes/spokes/images/ftr-logo.png"/>

		{{ footer.footer.post_content }}

	</div><!-- /page-mod -->
	<div class="site-credit">
		<a href="http://www.upstatement.com" target="_blank">Site by Upstatement</a>
	</div><!-- /site-credit -->	
</footer>