{% extends "base.twig" %}

	{% block content %}
	<div class="page-mod">
		<div class="closed-sign-mod">
			<img class="closed-sign" src="/wp-content/themes/spokes/images/closed-sign.png" />
		</div><!-- /closed-sign-mod -->
	</div>
	{% endblock %}

