{% extends "base.twig" %}

{% block content %}
	<div class="post-intro-img">
		<img src="/wp-content/themes/spokes/images/hero-img-post.jpg" alt="alt text"/>
	</div>

	<div class="post-content-topper"></div>
	<div class="post-content-mod">
			<div class="section-hd-mod">
				<img class="section-icon" src="/wp-content/themes/spokes/images/icon-blog.png">
				<h4 class="section-h1">PMC 2010</h4>
			</div><!-- /section-hd-mod -->	

			<h1 class="post-h1">Our Best Year Yet! We've been cycling like champs.</h1>
			<div class="byline">By Mike</div><!-- /byline -->

			<p>Holy smokes! Our biggest team yet! We’ve got eight dudes stacked up on our newly renamed Bikes Fight Cancer team this year! Welcome new comers: Will Bangs and James Sutter! Thanks to the great support of friends, family, and strangers-a-like, we were able to raise an astonishing $34,703 for the Jimmy Fund!</p>
			<p>We dedicated the ride to our pal, Kevin Bouvier, who was recently diagnosed with cancer but is THANKFULLY getting the treatment he needs and was able to join us at the start line in Sturbridge for some photos.</p>  
			<p>The ride was great fun, though Saturday was perhaps the hottest, muggiest ride in Pan-Mass Challenge history and Sunday was filled with short bursts of down-pouring rain. The weather was no match for our sleek new black & neon green BFC jerseys! Fashionistas! Keeping eight riders together for all 192-miles was a bit tricky but we all managed to start and end each day as a team (though James missed the last turn that we all take in Provincetown!!!... He’ll learn next year!). Congrats to Bob for winning the P-town line this year! Johnny came in a close second, which we all know is really just the first loser.</p>
			<p>The Bikes Fight Cancer immediate family is also growing — Welcome Gracie Morin and Jaclyn Swiatlowski! Also congrats to the newlyweds Jon and Sara Jasak today!</p>

			<img class="history-post-img" src="/wp-content/themes/spokes/images/history-tz-2012.jpg"/>
			<img class="history-post-img" src="/wp-content/themes/spokes/images/history-tz-2012.jpg"/>
	</div> <!-- /post-content-mod -->	

	<section class="history-aside">
		<div class="caption-section-h">Raffle Winners</div><!-- /caption-section-h -->
		<div class="caption-h">$100 Prize</div>
		<ul classs="history-aside-ul">
			<li class="history-aside-item">Kevin Bouvier</li>
			<li class="history-aside-item">Warren Izyk</li>	
			<li class="history-aside-item">Farron Madigan</li>	
			<li class="history-aside-item">Mike Swartz</li>	
			<li class="history-aside-item">Tito Cruz</li>	
			<li class="history-aside-item">Mathew Swiatlowski</li>	
			<li class="history-aside-item">Andrew Kokoszka</li>	
			<li class="history-aside-item">Kevin Bouvier</li>
			<li class="history-aside-item">Warren Izyk</li>
			<li class="history-aside-item">Mathew Swiatlowski</li>					
			<li class="history-aside-item">Farron Madigan</li>	
			<li class="history-aside-item">Andrew Kokoszka</li>								
			<li class="history-aside-item">Mike Swartz</li>	
			<li class="history-aside-item">Tito Cruz</li>	
		</ul><!-- /history-aside-ul -->

		<div class="caption-h">$200 Prize</div>
		<ul classs="history-aside-ul">
			<li class="history-aside-item">Kevin Bouvier</li>
			<li class="history-aside-item">Warren Izyk</li>	
			<li class="history-aside-item">Farron Madigan</li>	
			<li class="history-aside-item">Mike Swartz</li>	
			<li class="history-aside-item">Tito Cruz</li>	
		</ul><!-- /history-aside-ul -->

		<div class="caption-h">$500 Prize</div>
		<ul classs="history-aside-ul">
			<li class="history-aside-item">Kevin Bouvier</li>
		</ul><!-- /history-aside-ul -->

		<div class="caption-h">Red Sox Tickets</div>
		<ul classs="history-aside-ul">
			<li class="history-aside-item">Kevin Bouvier</li>	
		</ul><!-- /history-aside-ul -->

		<div class="caption-h">Robert Charles Photography Session</div>
		<ul classs="history-aside-ul">
			<li class="history-aside-item">Warren Izyk</li>	
		</ul><!-- /history-aside-ul -->

		<div class="caption-h">Rocking Chair</div>
		<ul classs="history-aside-ul">
			<li class="history-aside-item">Steve Moskal</li>	
		</ul><!-- /history-aside-ul -->

		<div class="caption-h">Diamond Necklace</div>
		<ul classs="history-aside-ul">
			<li class="history-aside-item">Bill Bellamy</li>	
		</ul><!-- /history-aside-ul -->

		<ul class="history-aside-ul">
			<div class="caption-section-h">Business Sponsors</div><!-- /caption-section-h -->
			<li class="history-aside-item">Metamorphosis Massage</li>
			<li class="history-aside-item">Upstatement</li>
			<li class="history-aside-item">Diamond Junction</li>
			<li class="history-aside-item">Miss Piggy's</li>
			<li class="history-aside-item">Metamorphosis Massage</li>
			<li class="history-aside-item">Metamorphosis Massage</li>
			<li class="history-aside-item">Upstatement</li>
			<li class="history-aside-item">Diamond Junction</li>
			<li class="history-aside-item">Miss Piggy's</li>
			<li class="history-aside-item">Metamorphosis Massage</li>
			<li class="history-aside-item">Upstatement</li>
			<li class="history-aside-item">Diamond Junction</li>
			<li class="history-aside-item">Miss Piggy's</li>
			<li class="history-aside-item">Metamorphosis Massage</li>
			<li class="history-aside-item">Metamorphosis Massage</li>			
		</ul><!-- /sponsors-history-ul -->	

	</section><!-- /history-aside -->	

	<section class="sponsors-history">

	</section><!-- /sponsors-history -->
	
	{% for child in post.get_children %}
		{{child.title}}
	{% endfor %}

{% endblock %}