{% extends "base.twig" %}

{% block content %}
	<section class="closed-store">
		<div class="closed-sign-mod">
			<div class="page-mod">
				<img class="closed-sign" src="/wp-content/themes/spokes/images/closed-sign.png" />
			</div><!-- /page-mod -->
		</div><!-- /closed-sign-mod -->
	</section><!-- /closed-store -->	

{% endblock %}