<section class="raffle-tz">
	<div class="page-mod">
		<div class="raffle-ticket-mod">
			<div class="raffle-inside">
				<h4 class="section-h1 raffle-hdr">Today's Raffle Winner</h4>
				<div class="raffle-name-mod">
					<div class="raffle-name-title">Name:</div> <div class="raffle-name">{{ raffle.raffle_name }}</div>
				</div><!-- /raffle-name-mod -->	
				<div class="raffle-prize-mod">
					<div class="raffle-prize-title">Prize:</div> <div class="raffle-prize">{{ raffle.raffle_prize }}</div>
				</div><!-- /raffle-prize-mod -->
			</div><!-- /raffle-inside -->	
		</div><!-- /raffle-ticket-mod -->				
	</div><!-- /page-mod -->	
</section><!-- /raffle-tz -->