{% extends "base.twig" %}

{% block content %}

	{% if post.hero %}
		<div class="post-intro-img">
			<img src="{{post.hero.url}}" alt="alt text"/>
		</div>
	{% endif %}

	{% if not post.hero %}
		<div class="no-hero">
	{% endif %}

	<div class="post-content-topper"></div>
	
	<div class="post-content-mod">
			<div class="section-hd-mod">
				<img class="section-icon" src="/wp-content/themes/spokes/images/icon-blog.png">
				<h4 class="section-h1">Blog</h4>
			</div><!-- /section-hd-mod -->	

			<h1 class="post-h1">{{post.title}}</h1>
			<div class="byline">by {{post.author.display_name}}</div><!-- /byline -->
			<div class="single-content">
				{{post.get_content}}
				<p>We're just testing a <a href="#">Link</a> Here.</p>
				<blockquote>This is a big old blockquote. Check it out My brother. The other day I had a fish Sandwhich. It was rilly kewl.</blockquote>	
				<ul class="bulleted-list">
					<li><span>Stuff</span></li>
					<li><span>Stuff</span></li>
					<li><span>Stuff</span></li>
					<li><span>Stuff</span></li>
					<li><span>Stuff</span></li>
				</ul>	
				<ul class="numbered-list">
					<li><span>Stuff</span></li>
					<li><span>Stuff</span></li>
					<li><span>Stuff</span></li>
					<li><span>Stuff</span></li>
					<li><span>Stuff</span></li>
				</ul>	
			</div><!-- /single-content -->
	</div> <!-- /post-content-mod -->	

	{% if not post.hero %}
		</div>
	{% endif %}

{% endblock %}