//
// Teases
//

.tz-post-blog {
	@include pie-clearfix;
}

.tz-branding {
	width: 15%;
	margin-right: 2%;
	float: left;

	img {
		width: 100%;
	}

	@media (min-width: $medium){
		width: 10%;
	}
}

.tz-bd {
	width: 83%;
	float: left;

	@media (min-width: $medium){
		width: 88%;
	}
}


.tz-post-l {
}

.tz-post-m {
}

.tz-post, .tz-post-l, .tz-post-m, .tz-post-s, {
	img {
		width: 100%;
	}
}

.tz-post-tweet {
	@include ui-grid-2(10%, 90%, 2%);
}

.tz-post-archive {
	margin-bottom: 20px;
}

.tz-blog, .tz-photo {
	img {
		width: 100%;
	}
}

.video-mod {
	@include video;
}