//
// Tools
//

.tool-pagination {
	// border-top: $border-dark;
	padding: 20px 0 20px 0;
	@include pie-clearfix;
	font-family: $sans;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;


	a {
		color: $link;
		text-decoration: none;

		&.active {
			color: #000;
		}
	}

	.prev {
		float: left;
		width: 15%;
	}

	.next {
		float: right;
		text-align: right;
		width: 15%;
	}

	.pages {
		width: 70%;
		float: left;
		text-align: center;

		li {
			@include inline-block;
			margin: 0 10px 0 0;
		}
	}
}//tool-pagination


//
// Share tools
//

.single-article {
	.tool-share {
		display: block;
		opacity: 1;
		ul {
			li {
				a {
					padding: 8px;
					font-size: 14px;
				}
			}
		}

		@media (min-width: $large){
			width: 40px;
			position: absolute;
			// left: 40px;
			left: 30px;
			margin: 0;
			height:140px;
		}

	}
} // end .single-article


.tease-post {
	&:hover {
		.tool-share {
			opacity: 1;
			// -webkit-transition-delay: 0s;
		}
	}
}

// Share tools on homepage
.tease-post {
	position: relative;
	.tool-share {
		position: absolute;
		top: 15px;
		right: 6%;
		@include trans(0.25s);
		-webkit-transition-delay: 0.35s;
		-moz-transition-delay: 0.35s;
		transition-delay: 0.35s;

		ul {
			li {
				a {
					background-color: transparent;
					color: $bt-lt-blue;
					text-decoration: none;
					text-transform: none;
					&:hover {
						background-color: transparent;
						color: $bt-blue;
						border-bottom: none;
					}
				}
			}
		}
	}
}


// Share tools with no background-color
.no-bg-share.tool-share {
	ul {
		li {
			a {
				background-color: transparent;
				color: $bt-lt-blue;
				text-decoration: none;
				text-transform: none;
				&:hover {
					background-color: transparent;
					color: $bt-blue;
					border-bottom: none;
				}
			}
		}
	}
}


// Share tools for .tz-post-l
.tz-post-l {
	.tool-share {
		// top: 5px;
		// right: 3%;
		top: -7px;
		right: 0%;
	}
}

// Share tools for .tz-post-m
.tz-post-m {
	.tool-share {
		top: 12px;
		right: 6%;
	}
}

// Share tool for large teases in most recent at large breakpoint

.most-recent {
	@media (min-width: $x-large) {
		.tz-post-l {
			.tool-share {
				// top: -7px;
				// right: 0%;
			}
		}
	}
}

.tool-share {
	margin-bottom: 20px;
	opacity: 0;

	ul {
		li {
			@include inline-block;
			margin-bottom: 10px;

			a {
				font-family: $sans;
				font-size: 15px;
				padding: 5px;
				display: block;
				background-color: $bt-lt-blue;
				color: #ffffff;
				text-decoration: none;
				text-align: center;
				@include trans(0.25s);
				&:hover {
					background-color: $bt-blue;
				}
			}
		}
	}
}
