//
// Mods
//

.mod {
	margin: 0 0 30px 0;
}

.mod-content {
	background-color: #FFF;
	padding: 10px;
}

.sidebar-mod {
	// margin-top: 20px;
}

.quiet {
	opacity: .5;
	@include trans;
	&:hover {
		opacity: 1;
	}
}

.mod-paper {
	display: none;
	@media (min-width: $medium){
		display: block;
	}
}
.mod-paper-tz {
	padding: 20px;
	background-color: #EEE;
	img {
		width: 100%; 
	}
}

.mod-head-list {
	li {
		margin-bottom: 30px;
	}
}

.mod-tags {
	border-top: 1px dotted #CCC;
	border-bottom: 1px dotted #CCC;
	padding: 20px 0 20px 0;
}

.mod-tags-horiz {
	@media(min-width: $medium){
		@include ui-grid-2(20%, 80%, 2%);
	}
	
	margin: 0 0 20px 0;
	.section-h {
		border: 0;
	}
	ul li a {
		font-family: $sans;
		font-weight: bold;
		text-transform: uppercase;
		color: $link;
	}
}

.mod-tabwidget {
	font-family: $sans;
	font-size: 14px;
	text-transform: uppercase;
}


//
// Section header
// 
.section-hdr {
	margin-bottom: 15px;

	& > .h5 {
		@extend %sect-hdr;
	}
}

.mod-tabwidget {
	.section-hdr {
		& > .h5 {
			padding-left: 8%;
		}
	}
}