.hdr-branding {
	@include pie-clearfix;
}

.home #header .nav-wrapper #access .hdr-navlinks {
	// display: none;
}

#header {
	@media (min-width: $large) {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		box-shadow: 0 2px 18px rgba(0, 0, 0, 0.5);
	}
}

.sm-hdr-logo {
	float: left;
	width: 200px;
	margin-right: 5px;
	margin-left: 5px;
	position: relative;
	top: 2px;

	.h2, h2 {
		margin: 0;
	}

	img {
		max-width: 100%;
	}
	@media (min-width: $medium) {
		// padding-top: 5px;
		padding-left: 5px;
		top: 10px;
		// height: 50px;
	}

} // end sm-hdr-logo


.hdr-nav {
	background-color: $hdr-background;
	padding: 10px;
	position: relative;
	z-index: 100;
	// border-bottom: 1px solid darken($bt-blue, 5%);
	font-size: 0; // this removes space between inline-block elements at larger breakpoints
	@include box-shadow( 0 2px 4px $rgba-black);
	@include pie-clearfix;

	.nav-main .nav-main-item {
			&:first-child {
				// border-left: 1px solid $border-color;
			}

		.nav-main-link {
			color: $hdr-link;
			display: block;
			padding: 15px 5px;
			text-decoration: none;
			font-family: $sans;
			text-transform: uppercase;
			font-size: 15px;
			// line-height: 22px;
			@include trans(0.35s);
			
			&:hover {
				background-color: rgba(black, 0.55);
			}

			&.on {
				background-color: $orange;
			}

			@media (min-width: $large) {
				padding: 15px 15px;
				border-right: 1px solid $hdr-link;
			}

		} //nav-main-link

		@media (min-width: $large){
			@include inline-block;
		}

		
	} //nav-main nav-main-item

	@media(min-width: $medium){
		// padding: 0 10px;
	}

	@media (min-width: $large) {
		padding: 0;
	}

} // hdr-nav


.navbar {
	position: relative;
	@include pie-clearfix;
}


.hdr-navlinks {
	display: none;
	clear: both;
	@include trans;
	// position: relative;

	&.active {
		display: block;
		padding-top: 20px;
	}

	@media (min-width: $large){
		clear: none;
		display: block;
		// width: 84%;
		float: left;
	}
} // end .hdr-navlinks


.hdr-social {
	display: none;

	ul {
		li {
			display: inline-block;
		 	a {
				font-size: 12px;
				display: block;
				@media (min-width: $large) {
					// padding: 15px 20px;
				}
			 }	
		}

		.icon-twitter:before, 
		.icon-facebook:before {
			line-height: 0;
		}
	}

	@media (min-width: $large) {
		position: relative;
		// z-index: 1;
		display: block;
		float: right;
		margin-right: 48px;
	}

	&.active {
		display: block;
		margin-top: 10px;
	}

} // end. hdr-social


#hdr-nav-trigger {
	display: block;
	width: 50px;
	height: 30px;
	float: left;
	// border-right: 1px solid #666;
	@include svg(hdr-hamburger);
	background-size: 55%;
	text-indent: -10000px;

	@media (min-width: $medium) {
		margin-top: 7px;
	}
	
	@media (min-width: $large){
		display: none;
	}
}


.hdr-search-trigger {
	position: absolute;
	right: 0px;
	top: 0px;
	text-indent: -10000px;
	width: 48px;
	height: 48px;
	border: #333;
	@include svg(hdr-search);
	background-size: 30%;
	@include trans;
	display: none;
	cursor: pointer;
	
	@media (min-width: $large) {
		display: inline-block;
	}
	&:hover {
		background-color: black;
	}
	&.show-search {
		background-color: rgba(black, 0.55);
		&:hover {
			background-color: rgba(black, 0.35);
		}
	}
}

.hdr-search-m {
	display: none;
	position: absolute;
	right: 0;
	top: 48px;
	width: 380px;
	background: rgba(black, 0.9);
	padding: 20px;
	z-index: 999;
	@include border-radius(0 0 0 8px);
	@include box-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
	&.show-search {
		display: block;
	}

	.nav-search-input {
		background-color: rgba(255, 255, 255, 0.2);
	}

	.nav-search-btn {
		@include svg(none);
		height: 30px;
		text-indent: 0;
		font-size: 14px;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-family: $sans;
		color: #fff;
		background-color: darken($bt-lt-blue, 10%);
	}
}


.hdr-search {
	width: 100%;
	// max-width: 380px;
	@include pie-clearfix;
	display: none;

	@media (min-width: $large) {
		display: none;
	}

	&.active {
		display: block;
		margin-top: 20px;
		@media (min-width: $large) {
			display: none;
		}
	}
} // end hdr-search


.nav-search-input {
	@include trans;
	float: right;
	color: #ddd;
	background-color: $rgba-black;
	padding: 10px;
	border: 1px solid $rgba-black;
	@include border-radius(3px 0 0 3px);
	height: 30px;
	width: 90%;
	font-family: $sans;
	font-size: 12px;
	&:focus {
		color: yellow;
	}
} // end .nav-search-input


.nav-search-btn {
	float: right;
	background-color: $bt-lt-blue;
	text-indent: -10000px;
	width: 10%;
	height: 30px;
	border: #333;
	@include svg(hdr-search);
	background-size: 45%;
	@include trans;

	&:hover {
		// background-color: rgba(black, 0.55);
	}

	@media (min-width: $medium) {
		// background-color: transparent;
		// background-size: 100%;
		// width: 5%;
		height: 26px;
	}
}


//
// drop
//
.nav-drop {
	@extend %mod-shadow;
	background-color: rgba(0, 0, 0, 0.9);
	// box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.8);
	width: 100%;
	// position: absolute;
	left: 0;
	z-index: 100;
	display: none;
	// padding: 10px;

	.nav-drop-item {
		// display: block;
		font-size: 13px;
		text-transform: uppercase;
		// padding-left: 10px;
		padding: 10px 0 10px 20px;
		// margin-right: 15px;
		// @include inline-block;
		a {
			border-right: none;
			color: #fff;
			color: rgba(255, 255, 255, 0.8);
			display: block;
			text-decoration: none;
			@include trans(0.25s);
			&:hover {
				color: $bt-lt-blue;
			}
		}
		@media (min-width: $large) {
			margin-right: 5px;
			@include inline-block;
		}
	}

	@media(min-width: $large) {
		box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.8);
		position: absolute;
		padding: 0;
	}
}

.drop-label {
	color: #fff;
	color: rgba(255, 255, 255, 0.6);
	// font-size: 13px;
	// padding: 20px 20px 0;
	text-transform: uppercase;
	margin-left: 20px;
	&:first-of-type {
		margin-left: 0;
	}

}

.show-drop {
	.nav-drop {
		display: block;
	}
}

.with-drop.show-drop {
	.nav-main-link {
		background-color: rgba(0, 0, 0, 0.75);
	}
}