.l-blog-grid {
	@include trans; 

	.tz-blog-m {
		border: 0;
		@media (min-width: $medium){
			width: 45%;
			margin-right: 5%;
			float: left;
		}
	}
}

.term-intersections {
	p a {
		color: $intersections-blue;
	}

	.read-more {
		color: $intersections-blue;
	}

	.tz-byline {
		color: $intersections-blue;
	}

	.tz-list-ol li a {
		color: $intersections-blue;

		&:hover {
			color: #000;
		}
	}

	.h2 {
		font-family: $sans;
		font-weight: bold;
	}
}

.tz-blog-inner {
	border-bottom: 5px solid #EEE;
}

.tz-blog-l, .tz-blog-m, .tz-blog-s {
	@include pie-clearfix;
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-bottom: 5px solid #EEE;
	img {
		width: 100%;
	}
}

.tz-blog-l {
	width: 100%;
	clear: both;

	@media (min-width: $medium){
		@include ui-grid-2(50%, 50%, 2%);
	}
}

.tz-blog-inner {
	padding-bottom: 20px;
	@include pie-clearfix;

	@media (min-width: $large){
		@include ui-grid-rl(50%, 50%, 2%);
	}
}

.tz-blog-s {
	@media(min-width: $medium){
		width: 45%;
		margin-right: 5%;
		float: left;
	}

	@media(min-width: $large){
		width: 20%;
		margin-right: 5%;
		float: left;
	}
}

.tz-blog-list {
	li a {
		display: block;
		padding: 5px 0;
		color: $orange;
		font-family: $sans;
		font-size: 14px;
	}
}

.tz-blog-img {
	margin-bottom: 10px;
}

.tz-blog-tags {
	li {
		@include inline-block;

			a {
			display: block;
			padding: 5px;
			background-color: #EEE;
			font-family: $sans;
			font-weight: bold;
			text-transform: uppercase;
			color: #FFF;
			&:hover {
				background-color: $orange;
			}
		}
	}
}