//
// Sets the size of corporate sponsor logos
// 

.sponsor-section {
	margin: 65px 0;
}

.sponsor-img {
	@extend %sq-img;
	width: 100%;
	margin: 1.25em 0;
	padding: 30px;
	border-width: 6px;
	border-color: $border-color;
	background-color: #fff;
	@include trans;
	&:hover {
		border-color: $bt-blue;
	}
}


//
// Sponsor grids
// 
.img-grid-lrg, .img-grid-l {
	@media (max-width: $large) {
		@include media-grid(2);
	}
	

	@media (min-width: $large){
		@include media-grid(3);
	}

	li {
		list-style: none;
	}
}


.img-grid-med, .img-grid-list, .img-grid-m {
	@media (max-width: $large) {
		@include media-grid(2);
	}
	

	@media (min-width: $large){
		@include media-grid(4);
	}

	li {
		list-style: none;
	}
}

.img-grid-sm, .img-grid-s {
	@media (max-width: $large) {
		@include media-grid(2);
	}
	

	@media (min-width: $large){
		@include media-grid(5);
	}

	li {
		list-style: none;
	}
}

.img-grid-list {
	li {
		
	}
	
	a {
		text-decoration: none;
		// background-color: pink;
		display: block;
		border-bottom: 1px solid $border-color;
		padding: 15px 5px;
		color: $txt;
		@include trans;
		&:hover {
			background-color: $border-color;
			color: black;
		}

	}
}

