.dark {
	background-color: #222;

	.single-sidebar {
		display: none;
	}

	.kicker a:hover {
		color: $orange;
	}

	.h1, .h2, .h3, .h4, .h5, .h6 {
		color: #CCC;

		a {
			color: #CCC;
		}
	}

	p {
		color: #CCC;
	}

	.tz-gallery {
		border-bottom: 5px solid #1d1d1d;
		padding: 0 0 20px 0;

		&:hover {
			border-bottom: 5px solid #666;
		}
	}

	.article-comments {
		padding: 20px;
		background-color: #EEE;
		@include border-radius(10px);
	}

}